USE [House_management_systemPrice_3]
GO
/****** Object:  Table [dbo].[amenity]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[amenity](
	[amenity_id] [int] IDENTITY(1,1) NOT NULL,
	[amenity_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill](
	[bill_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[period] [date] NOT NULL,
	[due_date] [date] NOT NULL,
	[total_amount] [decimal](14, 2) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[bill_item]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bill_item](
	[bill_item_id] [int] IDENTITY(1,1) NOT NULL,
	[bill_id] [int] NOT NULL,
	[category_id] [int] NOT NULL,
	[description] [nvarchar](255) NULL,
	[quantity] [decimal](10, 2) NULL,
	[unit_price] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[bill_item_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract](
	[contract_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[start_date] [date] NOT NULL,
	[end_date] [date] NULL,
	[deposit] [decimal](12, 2) NULL,
	[status] [varchar](20) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_tenant]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_tenant](
	[tenant_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[full_name] [nvarchar](100) NOT NULL,
	[phone] [varchar](20) NULL,
	[cccd] [varchar](20) NULL,
	[birth_date] [date] NULL,
	[is_primary] [bit] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[tenant_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contract_user]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contract_user](
	[contract_id] [int] NOT NULL,
	[user_id] [int] NOT NULL,
	[role] [varchar](20) NULL,
	[joined_at] [date] NULL,
	[left_at] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[contract_id] ASC,
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[deposit_transaction]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[deposit_transaction](
	[deposit_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[amount] [decimal](12, 2) NOT NULL,
	[transaction_type] [varchar](20) NOT NULL,
	[note] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[created_by] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[deposit_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facility]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facility](
	[facility_id] [int] IDENTITY(1,1) NOT NULL,
	[facility_name] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[description] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[facility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[meter]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[meter](
	[meter_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[period] [date] NOT NULL,
	[electricity_old] [int] NULL,
	[electricity_new] [int] NULL,
	[water_old] [int] NULL,
	[water_new] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[meter_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[notification]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[notification](
	[notification_id] [int] IDENTITY(1,1) NOT NULL,
	[created_by] [int] NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[content] [nvarchar](max) NOT NULL,
	[target_contract_id] [int] NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[notification_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_category]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_code] [varchar](50) NOT NULL,
	[category_type] [varchar](20) NOT NULL,
	[unit] [varchar](20) NOT NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[price_history]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[price_history](
	[price_id] [int] IDENTITY(1,1) NOT NULL,
	[category_id] [int] NOT NULL,
	[price_amount] [decimal](12, 2) NOT NULL,
	[effective_from] [date] NOT NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room](
	[room_id] [int] IDENTITY(1,1) NOT NULL,
	[room_number] [varchar](20) NOT NULL,
	[status] [varchar](20) NULL,
	[image] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
	[category_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_amenity]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_amenity](
	[room_id] [int] NOT NULL,
	[amenity_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC,
	[amenity_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_category]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_category](
	[category_id] [int] IDENTITY(1,1) NOT NULL,
	[category_name] [nvarchar](100) NOT NULL,
	[description] [nvarchar](255) NULL,
	[base_price] [decimal](12, 2) NOT NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[category_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[room_facility]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[room_facility](
	[room_id] [int] NOT NULL,
	[facility_id] [int] NOT NULL,
	[quantity] [int] NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[room_id] ASC,
	[facility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service](
	[service_id] [int] IDENTITY(1,1) NOT NULL,
	[service_name] [nvarchar](100) NOT NULL,
	[category_id] [int] NOT NULL,
	[description] [nvarchar](255) NULL,
	[image] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[service_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[service_usage]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[service_usage](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[contract_id] [int] NOT NULL,
	[service_id] [int] NOT NULL,
	[quantity] [decimal](10, 2) NOT NULL,
	[usage_date] [date] NOT NULL,
	[billed] [bit] NULL,
	[status] [nvarchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[user]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[user](
	[user_id] [int] IDENTITY(1,1) NOT NULL,
	[userName] [varchar](50) NOT NULL,
	[password] [varchar](255) NOT NULL,
	[full_name] [nvarchar](100) NULL,
	[email] [varchar](100) NULL,
	[phone] [varchar](20) NULL,
	[role] [varchar](20) NOT NULL,
	[image] [varchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility](
	[utility_id] [int] IDENTITY(1,1) NOT NULL,
	[utility_name] [nvarchar](100) NOT NULL,
	[unit] [nvarchar](50) NOT NULL,
	[description] [nvarchar](255) NULL,
	[created_at] [datetime] NULL,
	[is_deleted] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[utility_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility_price]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility_price](
	[price_id] [int] IDENTITY(1,1) NOT NULL,
	[utility_id] [int] NOT NULL,
	[price] [decimal](12, 2) NOT NULL,
	[effective_from] [date] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[price_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[utility_usage]    Script Date: 3/15/2026 10:47:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[utility_usage](
	[usage_id] [int] IDENTITY(1,1) NOT NULL,
	[room_id] [int] NOT NULL,
	[utility_id] [int] NOT NULL,
	[period] [date] NOT NULL,
	[old_value] [int] NULL,
	[new_value] [int] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[usage_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[amenity] ON 

INSERT [dbo].[amenity] ([amenity_id], [amenity_name], [description], [created_at], [is_deleted]) VALUES (1, N'Balcony', N'Private balcony', CAST(N'2026-03-10T19:17:37.067' AS DateTime), 0)
INSERT [dbo].[amenity] ([amenity_id], [amenity_name], [description], [created_at], [is_deleted]) VALUES (2, N'Private Bathroom', N'Bathroom inside room', CAST(N'2026-03-10T19:17:37.067' AS DateTime), 0)
INSERT [dbo].[amenity] ([amenity_id], [amenity_name], [description], [created_at], [is_deleted]) VALUES (3, N'Kitchen', N'Small kitchen', CAST(N'2026-03-10T19:17:37.067' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[amenity] OFF
GO
SET IDENTITY_INSERT [dbo].[bill] ON 

INSERT [dbo].[bill] ([bill_id], [contract_id], [period], [due_date], [total_amount], [status], [created_at], [is_deleted]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-10' AS Date), CAST(0.00 AS Decimal(14, 2)), N'paid', CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
INSERT [dbo].[bill] ([bill_id], [contract_id], [period], [due_date], [total_amount], [status], [created_at], [is_deleted]) VALUES (2, 1, CAST(N'2026-02-01' AS Date), CAST(N'2026-02-10' AS Date), CAST(0.00 AS Decimal(14, 2)), N'pending', CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
INSERT [dbo].[bill] ([bill_id], [contract_id], [period], [due_date], [total_amount], [status], [created_at], [is_deleted]) VALUES (3, 2, CAST(N'2026-01-01' AS Date), CAST(N'2026-01-10' AS Date), CAST(0.00 AS Decimal(14, 2)), N'paid', CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[bill] OFF
GO
SET IDENTITY_INSERT [dbo].[bill_item] ON 

INSERT [dbo].[bill_item] ([bill_item_id], [bill_id], [category_id], [description], [quantity], [unit_price]) VALUES (1, 1, 1, N'Room rent', CAST(1.00 AS Decimal(10, 2)), CAST(3000000.00 AS Decimal(12, 2)))
INSERT [dbo].[bill_item] ([bill_item_id], [bill_id], [category_id], [description], [quantity], [unit_price]) VALUES (2, 1, 2, N'Electricity', CAST(50.00 AS Decimal(10, 2)), CAST(3500.00 AS Decimal(12, 2)))
INSERT [dbo].[bill_item] ([bill_item_id], [bill_id], [category_id], [description], [quantity], [unit_price]) VALUES (3, 1, 3, N'Water', CAST(5.00 AS Decimal(10, 2)), CAST(15000.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[bill_item] OFF
GO
SET IDENTITY_INSERT [dbo].[contract] ON 

INSERT [dbo].[contract] ([contract_id], [room_id], [start_date], [end_date], [deposit], [status], [created_at], [is_deleted]) VALUES (1, 1, CAST(N'2025-01-01' AS Date), NULL, CAST(3000000.00 AS Decimal(12, 2)), N'active', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[contract] ([contract_id], [room_id], [start_date], [end_date], [deposit], [status], [created_at], [is_deleted]) VALUES (2, 3, CAST(N'2025-02-01' AS Date), NULL, CAST(3000000.00 AS Decimal(12, 2)), N'active', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[contract] ([contract_id], [room_id], [start_date], [end_date], [deposit], [status], [created_at], [is_deleted]) VALUES (3, 5, CAST(N'2025-01-01' AS Date), NULL, CAST(3000000.00 AS Decimal(12, 2)), N'active', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[contract] OFF
GO
SET IDENTITY_INSERT [dbo].[contract_tenant] ON 

INSERT [dbo].[contract_tenant] ([tenant_id], [contract_id], [full_name], [phone], [cccd], [birth_date], [is_primary], [created_at]) VALUES (1, 1, N'Nguyen Van A', N'0900000001', N'079123456001', NULL, 1, CAST(N'2026-03-15T22:28:07.660' AS DateTime))
INSERT [dbo].[contract_tenant] ([tenant_id], [contract_id], [full_name], [phone], [cccd], [birth_date], [is_primary], [created_at]) VALUES (2, 1, N'Tran Van B', N'0900000002', N'079123456002', NULL, 0, CAST(N'2026-03-15T22:28:07.660' AS DateTime))
INSERT [dbo].[contract_tenant] ([tenant_id], [contract_id], [full_name], [phone], [cccd], [birth_date], [is_primary], [created_at]) VALUES (3, 2, N'Le Van C', N'0900000003', N'079123456003', NULL, 1, CAST(N'2026-03-15T22:28:07.660' AS DateTime))
SET IDENTITY_INSERT [dbo].[contract_tenant] OFF
GO
INSERT [dbo].[contract_user] ([contract_id], [user_id], [role], [joined_at], [left_at]) VALUES (1, 3, N'owner', CAST(N'2026-03-09' AS Date), NULL)
INSERT [dbo].[contract_user] ([contract_id], [user_id], [role], [joined_at], [left_at]) VALUES (1, 4, N'member', CAST(N'2026-03-09' AS Date), NULL)
INSERT [dbo].[contract_user] ([contract_id], [user_id], [role], [joined_at], [left_at]) VALUES (2, 5, N'owner', CAST(N'2026-03-09' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[deposit_transaction] ON 

INSERT [dbo].[deposit_transaction] ([deposit_id], [contract_id], [amount], [transaction_type], [note], [created_at], [created_by]) VALUES (1, 1, CAST(3000000.00 AS Decimal(12, 2)), N'deposit', N'Initial room deposit', CAST(N'2026-03-15T22:46:28.537' AS DateTime), NULL)
INSERT [dbo].[deposit_transaction] ([deposit_id], [contract_id], [amount], [transaction_type], [note], [created_at], [created_by]) VALUES (2, 2, CAST(3000000.00 AS Decimal(12, 2)), N'deposit', N'Initial room deposit', CAST(N'2026-03-15T22:46:28.537' AS DateTime), NULL)
INSERT [dbo].[deposit_transaction] ([deposit_id], [contract_id], [amount], [transaction_type], [note], [created_at], [created_by]) VALUES (3, 3, CAST(3500000.00 AS Decimal(12, 2)), N'deposit', N'Initial room deposit', CAST(N'2026-03-15T22:46:28.537' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[deposit_transaction] OFF
GO
SET IDENTITY_INSERT [dbo].[facility] ON 

INSERT [dbo].[facility] ([facility_id], [facility_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (1, N'Air Conditioner', 7, N'Room air conditioner', N'facility.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[facility] ([facility_id], [facility_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (2, N'Mini Fridge', 8, N'Small fridge', N'facility.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[facility] ([facility_id], [facility_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (3, N'Washing Machine', 9, N'Shared washing machine', N'facility.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[facility] OFF
GO
SET IDENTITY_INSERT [dbo].[meter] ON 

INSERT [dbo].[meter] ([meter_id], [room_id], [period], [electricity_old], [electricity_new], [water_old], [water_new], [created_at]) VALUES (1, 1, CAST(N'2026-01-01' AS Date), 100, 150, 20, 25, CAST(N'2026-03-09T14:18:37.490' AS DateTime))
INSERT [dbo].[meter] ([meter_id], [room_id], [period], [electricity_old], [electricity_new], [water_old], [water_new], [created_at]) VALUES (2, 3, CAST(N'2026-01-01' AS Date), 200, 250, 30, 35, CAST(N'2026-03-09T14:18:37.490' AS DateTime))
INSERT [dbo].[meter] ([meter_id], [room_id], [period], [electricity_old], [electricity_new], [water_old], [water_new], [created_at]) VALUES (3, 5, CAST(N'2026-01-01' AS Date), 120, 170, 15, 20, CAST(N'2026-03-09T14:18:37.490' AS DateTime))
SET IDENTITY_INSERT [dbo].[meter] OFF
GO
SET IDENTITY_INSERT [dbo].[notification] ON 

INSERT [dbo].[notification] ([notification_id], [created_by], [title], [content], [target_contract_id], [created_at], [is_deleted]) VALUES (1, 1, N'Electricity Check', N'Please submit electricity meter reading', 1, CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
INSERT [dbo].[notification] ([notification_id], [created_by], [title], [content], [target_contract_id], [created_at], [is_deleted]) VALUES (2, 1, N'Water Maintenance', N'Water system maintenance tomorrow', NULL, CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
INSERT [dbo].[notification] ([notification_id], [created_by], [title], [content], [target_contract_id], [created_at], [is_deleted]) VALUES (3, 2, N'Payment Reminder', N'Please pay your bill before due date', 2, CAST(N'2026-03-09T14:18:37.490' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[notification] OFF
GO
SET IDENTITY_INSERT [dbo].[price_category] ON 

INSERT [dbo].[price_category] ([category_id], [category_code], [category_type], [unit], [created_at], [is_deleted]) VALUES (1, N'ROOM_RENT', N'rent', N'month', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
INSERT [dbo].[price_category] ([category_id], [category_code], [category_type], [unit], [created_at], [is_deleted]) VALUES (2, N'ELECTRICITY', N'utility', N'kWh', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
INSERT [dbo].[price_category] ([category_id], [category_code], [category_type], [unit], [created_at], [is_deleted]) VALUES (3, N'WATER', N'utility', N'm3', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[price_category] OFF
GO
SET IDENTITY_INSERT [dbo].[price_history] ON 

INSERT [dbo].[price_history] ([price_id], [category_id], [price_amount], [effective_from], [created_at], [is_deleted]) VALUES (1, 1, CAST(3000000.00 AS Decimal(12, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
INSERT [dbo].[price_history] ([price_id], [category_id], [price_amount], [effective_from], [created_at], [is_deleted]) VALUES (2, 1, CAST(3200000.00 AS Decimal(12, 2)), CAST(N'2026-02-01' AS Date), CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
INSERT [dbo].[price_history] ([price_id], [category_id], [price_amount], [effective_from], [created_at], [is_deleted]) VALUES (3, 2, CAST(3500.00 AS Decimal(12, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[price_history] OFF
GO
SET IDENTITY_INSERT [dbo].[room] ON 

INSERT [dbo].[room] ([room_id], [room_number], [status], [image], [created_at], [is_deleted], [category_id]) VALUES (1, N'101', N'occupied', N'room.jpg', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0, 1)
INSERT [dbo].[room] ([room_id], [room_number], [status], [image], [created_at], [is_deleted], [category_id]) VALUES (2, N'102', N'occupied', N'room.jpg', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0, 1)
INSERT [dbo].[room] ([room_id], [room_number], [status], [image], [created_at], [is_deleted], [category_id]) VALUES (3, N'103', N'occupied', N'room.jpg', CAST(N'2026-03-09T14:18:37.483' AS DateTime), 0, 1)
SET IDENTITY_INSERT [dbo].[room] OFF
GO
INSERT [dbo].[room_amenity] ([room_id], [amenity_id]) VALUES (1, 1)
INSERT [dbo].[room_amenity] ([room_id], [amenity_id]) VALUES (1, 2)
INSERT [dbo].[room_amenity] ([room_id], [amenity_id]) VALUES (1, 4)
GO
SET IDENTITY_INSERT [dbo].[room_category] ON 

INSERT [dbo].[room_category] ([category_id], [category_name], [description], [base_price], [created_at], [is_deleted]) VALUES (1, N'Single Room', N'Room for 1 person', CAST(2500000.00 AS Decimal(12, 2)), CAST(N'2026-03-10T15:43:18.970' AS DateTime), 0)
INSERT [dbo].[room_category] ([category_id], [category_name], [description], [base_price], [created_at], [is_deleted]) VALUES (2, N'Double Room', N'Room for 2 persons', CAST(3000000.00 AS Decimal(12, 2)), CAST(N'2026-03-10T15:43:18.970' AS DateTime), 0)
INSERT [dbo].[room_category] ([category_id], [category_name], [description], [base_price], [created_at], [is_deleted]) VALUES (3, N'Studio Room', N'Studio type room with kitchen', CAST(3500000.00 AS Decimal(12, 2)), CAST(N'2026-03-10T15:43:18.970' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[room_category] OFF
GO
INSERT [dbo].[room_facility] ([room_id], [facility_id], [quantity], [created_at], [is_deleted]) VALUES (1, 1, 1, CAST(N'2026-03-10T16:03:21.100' AS DateTime), 0)
INSERT [dbo].[room_facility] ([room_id], [facility_id], [quantity], [created_at], [is_deleted]) VALUES (1, 2, 1, CAST(N'2026-03-10T16:03:21.100' AS DateTime), 0)
INSERT [dbo].[room_facility] ([room_id], [facility_id], [quantity], [created_at], [is_deleted]) VALUES (3, 1, 1, CAST(N'2026-03-10T16:03:21.100' AS DateTime), 0)
GO
SET IDENTITY_INSERT [dbo].[service] ON 

INSERT [dbo].[service] ([service_id], [service_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (1, N'Wifi Internet', 4, N'Monthly wifi service', N'service.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[service] ([service_id], [service_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (2, N'Motorbike Parking', 5, N'Parking service', N'service.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
INSERT [dbo].[service] ([service_id], [service_name], [category_id], [description], [image], [created_at], [is_deleted]) VALUES (3, N'Room Cleaning', 6, N'Monthly cleaning', N'service.jpg', CAST(N'2026-03-09T14:18:37.487' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[service] OFF
GO
SET IDENTITY_INSERT [dbo].[service_usage] ON 

INSERT [dbo].[service_usage] ([usage_id], [contract_id], [service_id], [quantity], [usage_date], [billed], [status]) VALUES (1, 1, 1, CAST(1.00 AS Decimal(10, 2)), CAST(N'2026-01-05' AS Date), 0, N'approved')
INSERT [dbo].[service_usage] ([usage_id], [contract_id], [service_id], [quantity], [usage_date], [billed], [status]) VALUES (2, 1, 2, CAST(1.00 AS Decimal(10, 2)), CAST(N'2026-01-05' AS Date), 0, N'approved')
INSERT [dbo].[service_usage] ([usage_id], [contract_id], [service_id], [quantity], [usage_date], [billed], [status]) VALUES (3, 2, 1, CAST(1.00 AS Decimal(10, 2)), CAST(N'2026-01-06' AS Date), 0, N'approved')
SET IDENTITY_INSERT [dbo].[service_usage] OFF
GO
SET IDENTITY_INSERT [dbo].[user] ON 

INSERT [dbo].[user] ([user_id], [userName], [password], [full_name], [email], [phone], [role], [image], [created_at], [is_deleted]) VALUES (1, N'admin1', N'e10adc3949ba59abbe56e057f20f883e', N'System Admin', N'admin1@mail.com', N'0900000001', N'admin', N'user.jpg', CAST(N'2026-03-09T14:18:37.480' AS DateTime), 0)
INSERT [dbo].[user] ([user_id], [userName], [password], [full_name], [email], [phone], [role], [image], [created_at], [is_deleted]) VALUES (2, N'staff1', N'e10adc3949ba59abbe56e057f20f883e', N'Staff One', N'staff1@mail.com', N'0900000002', N'staff', N'user.jpg', CAST(N'2026-03-09T14:18:37.480' AS DateTime), 0)
INSERT [dbo].[user] ([user_id], [userName], [password], [full_name], [email], [phone], [role], [image], [created_at], [is_deleted]) VALUES (3, N'user1', N'e10adc3949ba59abbe56e057f20f883e', N'Nguyen Van A', N'user1@mail.com', N'0900000003', N'customer', N'user.jpg', CAST(N'2026-03-09T14:18:37.480' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[user] OFF
GO
SET IDENTITY_INSERT [dbo].[utility] ON 

INSERT [dbo].[utility] ([utility_id], [utility_name], [unit], [description], [created_at], [is_deleted]) VALUES (1, N'Electricity', N'kWh', N'Electricity usage per
', CAST(N'2026-03-10T19:17:26.590' AS DateTime), 0)
INSERT [dbo].[utility] ([utility_id], [utility_name], [unit], [description], [created_at], [is_deleted]) VALUES (2, N'Water', N'm3', N'Water usage', CAST(N'2026-03-10T19:17:26.590' AS DateTime), 1)
INSERT [dbo].[utility] ([utility_id], [utility_name], [unit], [description], [created_at], [is_deleted]) VALUES (3, N'Gas', N'kg', N'Gas usage', CAST(N'2026-03-10T19:17:26.590' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[utility] OFF
GO
SET IDENTITY_INSERT [dbo].[utility_price] ON 

INSERT [dbo].[utility_price] ([price_id], [utility_id], [price], [effective_from], [created_at]) VALUES (1, 1, CAST(3500.00 AS Decimal(12, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-03-10T19:17:29.747' AS DateTime))
INSERT [dbo].[utility_price] ([price_id], [utility_id], [price], [effective_from], [created_at]) VALUES (2, 1, CAST(3800.00 AS Decimal(12, 2)), CAST(N'2026-01-01' AS Date), CAST(N'2026-03-10T19:17:29.747' AS DateTime))
INSERT [dbo].[utility_price] ([price_id], [utility_id], [price], [effective_from], [created_at]) VALUES (3, 2, CAST(15000.00 AS Decimal(12, 2)), CAST(N'2025-01-01' AS Date), CAST(N'2026-03-10T19:17:29.747' AS DateTime))
SET IDENTITY_INSERT [dbo].[utility_price] OFF
GO
SET IDENTITY_INSERT [dbo].[utility_usage] ON 

INSERT [dbo].[utility_usage] ([usage_id], [room_id], [utility_id], [period], [old_value], [new_value], [created_at]) VALUES (1, 3, 3, CAST(N'2026-03-11' AS Date), 1, 1, CAST(N'2026-03-10T20:39:45.260' AS DateTime))
SET IDENTITY_INSERT [dbo].[utility_usage] OFF
GO
/****** Object:  Index [UX_bill]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[bill] ADD  CONSTRAINT [UX_bill] UNIQUE NONCLUSTERED 
(
	[contract_id] ASC,
	[period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bill_contract]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_contract] ON [dbo].[bill]
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_bill_status]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_status] ON [dbo].[bill]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_bill_item_bill]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_bill_item_bill] ON [dbo].[bill_item]
(
	[bill_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_contract_room]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_contract_room] ON [dbo].[contract]
(
	[room_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_room_active_contract]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_room_active_contract] ON [dbo].[contract]
(
	[room_id] ASC
)
WHERE ([status]='active')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_contract_owner]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_contract_owner] ON [dbo].[contract_user]
(
	[contract_id] ASC
)
WHERE ([role]='owner')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_meter]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[meter] ADD  CONSTRAINT [UX_meter] UNIQUE NONCLUSTERED 
(
	[room_id] ASC,
	[period] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__price_ca__BC9D1E7CF37C17B3]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[price_category] ADD UNIQUE NONCLUSTERED 
(
	[category_code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_price]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[price_history] ADD  CONSTRAINT [UX_price] UNIQUE NONCLUSTERED 
(
	[category_id] ASC,
	[effective_from] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_price_lookup]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_price_lookup] ON [dbo].[price_history]
(
	[category_id] ASC,
	[effective_from] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__room__FE22F61B96D36FEE]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[room] ADD UNIQUE NONCLUSTERED 
(
	[room_number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_room_status]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_room_status] ON [dbo].[room]
(
	[status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_service_usage_contract]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_service_usage_contract] ON [dbo].[service_usage]
(
	[contract_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__66DCF95C7E4968E2]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[userName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__user__AB6E6164E9720A3F]    Script Date: 3/15/2026 10:47:47 PM ******/
ALTER TABLE [dbo].[user] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_user_role]    Script Date: 3/15/2026 10:47:47 PM ******/
CREATE NONCLUSTERED INDEX [IX_user_role] ON [dbo].[user]
(
	[role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[amenity] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[amenity] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [total_amount]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bill] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[bill_item] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[contract] ADD  DEFAULT ((0)) FOR [deposit]
GO
ALTER TABLE [dbo].[contract] ADD  DEFAULT ('active') FOR [status]
GO
ALTER TABLE [dbo].[contract] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contract] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[contract_tenant] ADD  DEFAULT ((0)) FOR [is_primary]
GO
ALTER TABLE [dbo].[contract_tenant] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[contract_user] ADD  DEFAULT ('member') FOR [role]
GO
ALTER TABLE [dbo].[contract_user] ADD  DEFAULT (getdate()) FOR [joined_at]
GO
ALTER TABLE [dbo].[deposit_transaction] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[facility] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[facility] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[meter] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[notification] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[price_category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[price_category] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[price_history] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[room] ADD  DEFAULT ('available') FOR [status]
GO
ALTER TABLE [dbo].[room] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[room] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[room_category] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[room_category] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[room_facility] ADD  DEFAULT ((1)) FOR [quantity]
GO
ALTER TABLE [dbo].[room_facility] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[room_facility] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[service] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[service_usage] ADD  DEFAULT ((0)) FOR [billed]
GO
ALTER TABLE [dbo].[service_usage] ADD  CONSTRAINT [DF_service_usage_status]  DEFAULT ('pending') FOR [status]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[user] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[utility] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[utility] ADD  DEFAULT ((0)) FOR [is_deleted]
GO
ALTER TABLE [dbo].[utility_price] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[utility_usage] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[bill_item]  WITH CHECK ADD FOREIGN KEY([bill_id])
REFERENCES [dbo].[bill] ([bill_id])
GO
ALTER TABLE [dbo].[bill_item]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[price_category] ([category_id])
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[contract_tenant]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[contract_user]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[contract_user]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[deposit_transaction]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[deposit_transaction]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[facility]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[price_category] ([category_id])
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([created_by])
REFERENCES [dbo].[user] ([user_id])
GO
ALTER TABLE [dbo].[notification]  WITH CHECK ADD FOREIGN KEY([target_contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[price_category] ([category_id])
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD  CONSTRAINT [FK_room_category] FOREIGN KEY([category_id])
REFERENCES [dbo].[room_category] ([category_id])
GO
ALTER TABLE [dbo].[room] CHECK CONSTRAINT [FK_room_category]
GO
ALTER TABLE [dbo].[room_amenity]  WITH CHECK ADD FOREIGN KEY([amenity_id])
REFERENCES [dbo].[amenity] ([amenity_id])
GO
ALTER TABLE [dbo].[room_amenity]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[room_facility]  WITH CHECK ADD FOREIGN KEY([facility_id])
REFERENCES [dbo].[facility] ([facility_id])
GO
ALTER TABLE [dbo].[room_facility]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[service]  WITH CHECK ADD FOREIGN KEY([category_id])
REFERENCES [dbo].[price_category] ([category_id])
GO
ALTER TABLE [dbo].[service_usage]  WITH CHECK ADD FOREIGN KEY([contract_id])
REFERENCES [dbo].[contract] ([contract_id])
GO
ALTER TABLE [dbo].[service_usage]  WITH CHECK ADD FOREIGN KEY([service_id])
REFERENCES [dbo].[service] ([service_id])
GO
ALTER TABLE [dbo].[utility_price]  WITH CHECK ADD FOREIGN KEY([utility_id])
REFERENCES [dbo].[utility] ([utility_id])
GO
ALTER TABLE [dbo].[utility_usage]  WITH CHECK ADD FOREIGN KEY([room_id])
REFERENCES [dbo].[room] ([room_id])
GO
ALTER TABLE [dbo].[utility_usage]  WITH CHECK ADD FOREIGN KEY([utility_id])
REFERENCES [dbo].[utility] ([utility_id])
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD  CONSTRAINT [CHK_bill_period] CHECK  ((datepart(day,[period])=(1)))
GO
ALTER TABLE [dbo].[bill] CHECK CONSTRAINT [CHK_bill_period]
GO
ALTER TABLE [dbo].[bill]  WITH CHECK ADD CHECK  (([status]='cancelled' OR [status]='overdue' OR [status]='paid' OR [status]='pending'))
GO
ALTER TABLE [dbo].[contract]  WITH CHECK ADD CHECK  (([status]='terminated' OR [status]='expired' OR [status]='active'))
GO
ALTER TABLE [dbo].[contract_user]  WITH CHECK ADD CHECK  (([role]='member' OR [role]='owner'))
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD  CONSTRAINT [CHK_electricity] CHECK  (([electricity_new]>=[electricity_old]))
GO
ALTER TABLE [dbo].[meter] CHECK CONSTRAINT [CHK_electricity]
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD  CONSTRAINT [CHK_meter_period] CHECK  ((datepart(day,[period])=(1)))
GO
ALTER TABLE [dbo].[meter] CHECK CONSTRAINT [CHK_meter_period]
GO
ALTER TABLE [dbo].[meter]  WITH CHECK ADD  CONSTRAINT [CHK_water] CHECK  (([water_new]>=[water_old]))
GO
ALTER TABLE [dbo].[meter] CHECK CONSTRAINT [CHK_water]
GO
ALTER TABLE [dbo].[price_category]  WITH CHECK ADD CHECK  (([category_type]='facility' OR [category_type]='service' OR [category_type]='utility' OR [category_type]='rent'))
GO
ALTER TABLE [dbo].[price_history]  WITH CHECK ADD  CONSTRAINT [CHK_price_month] CHECK  ((datepart(day,[effective_from])=(1)))
GO
ALTER TABLE [dbo].[price_history] CHECK CONSTRAINT [CHK_price_month]
GO
ALTER TABLE [dbo].[room]  WITH CHECK ADD CHECK  (([status]='maintenance' OR [status]='occupied' OR [status]='available'))
GO
ALTER TABLE [dbo].[user]  WITH CHECK ADD CHECK  (([role]='customer' OR [role]='staff' OR [role]='admin'))
GO
USE [master]
GO
